.results-autofill {
  z-index: 2147483000;
  color: var(--color-text);
}

.results-white-background {
  background: var(--color-bg);
}

.results-list {
  overflow-y: auto;
  padding: 0 0.5rem 0 0.5rem;
  z-index: 999999999999999999;
}

.results-top-row {
  color: var(--color-text);
  font-size: 0.875rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  padding-top: 1rem;
  border-bottom: 1px solid var(--color-brown);
}

.result-row {
  border-bottom: 1px solid var(--color-brown);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.result-row:last-child {
  border-bottom: none;
}

.results-item {
  padding: 15px;
  border-radius: 9px;
  cursor: pointer;
}

.results-item:hover {
  background-color: var(--color-bg-alt);
  transition: background-color 0.5s ease;
}

.results-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}

.results-section {
  background: var(--color-text-hover);
  display: block;
  color: var(--color-bg);
  padding: 0rem 1rem;
  border-radius: 9999px;
  font-size: 0.875rem;
  font-weight: normal;
  margin-right: 0.75rem;
}

.results-title {
  display: block;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--color-text);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.result-snippet {
  font-size: 0.875rem;
  color: var(--color-text);
  padding-top: 1rem;
}

.result-snippet-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result-snippet-text-clamped {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.results-view-all {
  padding: 0.75rem 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text);
  font-size: 0.875rem;
}

.view-all-link {
  cursor: pointer;
  color: var(--color-text-hover);
  text-decoration: underline;
  font-size: 0.875rem;
  outline: none;
}

.view-all-link:hover {
  color: var(--color-text-hover);
}

.pages-row {
  justify-content: center;
  align-content: center;
}

.results-window-floating {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 20px;
  background: var(--color-bg);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px var(--color-shadow);
  padding: 0 1.25rem 0 1.25rem;
}

.results-window {
  padding: 0 1.25rem 0 1.25rem;
  font-family: var(--content-font);
}

.results-list-floating {
  overflow-y: auto;
  padding-top: 0.5rem;
}

.results-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.75rem;
}

.results-found-count {
  font-weight: 500;
}

.results-per-page-selector span {
  user-select: none;
}

.per-page-number {
  cursor: pointer;
  margin: 0 4px;
  text-decoration: none;
  outline: none;
}

.per-page-number.selected {
  font-weight: bold;
  text-decoration: underline;
}

.result-row {
  border-bottom: 1px solid var(--color-border);
  padding: 12px 0;
}

.results-header {
  display: flex;
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
  font-weight: 600;
}

.results-section {
  color: var(--color-bg);
}

.results-title {
  font-weight: 700;
  color: var(--color-text);
}

.result-snippet {
  font-size: 0.85rem;
  color: var(--color-text);
}

.results-view-all {
  font-size: 0.9rem;
  color: var(--color-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-all-link {
  color: var(--color-text-hover);
  cursor: pointer;
  user-select: none;
  text-decoration: underline;
}

.view-all-link:hover,
.view-all-link:focus {
  color: var(--color-text-hover);
  outline: none;
}

.pagination-row {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-bottom: 1rem;
  justify-content: center;
}

.pagination-row.wrapped {
  justify-content: flex-start;
}

.pages-and-buttons-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.pages-row {
  display: flex;
  justify-items: center;
  gap: 12px;
  padding: 5px 15px;
  box-shadow: 0 4px 8px var(--color-shadow);
  border-radius: 16px;
  transition: all 0.2s;
}

.page-number {
  cursor: pointer;
  color: var(--color-brown);
  user-select: none;
  outline: none;
  font-size: 1rem;
  text-align: center;
  white-space: nowrap;
  min-width: 20px;
  align-self: center;
  align-content: center;
}

.page-number.selected {
  font-weight: bold;
}
.page-number:hover {
  text-decoration: underline;
}

.page-nav {
  cursor: pointer;
  color: var(--color-brown);
  height: 34px;
  text-align: center;
  font-size: 1rem;
  user-select: none;
  outline: none;
  padding: 5px 15px;
  border-radius: 16px;
  box-shadow: 0 4px 8px var(--color-shadow);
  justify-content: center;
  justify-self: center;
  align-items: center;
  display: flex;
  background: transparent;
  border: none;
  cursor: pointer;
}

.page-nav[aria-disabled="true"] {
  cursor: default;
  color: var(--color-text);
  pointer-events: none;
}

.page-nav:hover {
  text-decoration: none;
  background-color: var(--color-border);
  transition: background-color 0.2s ease;
}

.page-nav.invisible {
  visibility: hidden;
  transition: visibility 0.2s ease;
}
