.search-results-page {
  --page-pad: min(150px, 10vw);
  padding-top: 50px;
  padding-left: var(--page-pad);
  padding-right: var(--page-pad);
}

.background-gradient {
  position: absolute;
  z-index: 0;
  inset: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 350px;
  background-image: url("../assets/landing-page-background-gradient.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background-fade {
  position: absolute;
  z-index: 1;
  inset: 0;
  top: 250px;
  width: 100%;
  height: 100px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 99999;
  margin-top: var(--navbar-height);
  min-height: 100vh;
}

.search-results-header {
  margin-bottom: 16px;
  color: #581000 !important;
}
