.navsearchbar-container {
  position: relative;
  align-items: center;
  overflow: visible;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: var(--content-font);
}

.navsearchbar-input-container {
  position: fixed;
  width: calc(100% - 4rem);
  display: flex;
  align-items: center;
  overflow: visible;
}

.navsearchbar-input::placeholder {
  color: var(--color-text) !important;
  opacity: 1;
}

.navsearchbar-input {
  font-size: 1rem;
  padding-left: 2.5rem;
  transition: opacity 0.3s ease;
  background: transparent;
  border-width: 0 !important;
  color: var(--color-text) !important;
  z-index: 9;
  opacity: 1;
  pointer-events: auto;
}

.navsearchbar-input:focus,
.navsearchbar-input:focus-visible {
  box-shadow: none;
  outline: none;
  border-color: inherit;
}

.navsearchbar-button {
  color: var(--color-text);
}

.navsearchbar-button:hover {
  color: var(--color-text-hover);
}

.searchbar-container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: visible;
  background: var(--color-bg);
  border-radius: 9999999999px;
  box-shadow: 0 4px 8px var(--color-shadow);
  font-family: var(--content-font);
  padding: 6px 8px;
  width: 100%;
  min-width: 400px;
}

.searchbar-input-container {
  background: transparent;
  flex: 1;
}

.searchbar-input::placeholder {
  color: var(--color-text) !important;
  font-family: var(--content-font);
  opacity: 1;
}

.searchbar-input {
  font-size: 0.875rem;
  transition: opacity 0.3s ease;
  background: transparent;
  z-index: 9;
  border-width: 0 !important;
  border-radius: 9999999999px;
  opacity: 1;
  pointer-events: auto;
}

.searchbar-input:focus,
.searchbar-input:focus-visible,
.searchbar-input:active,
.searchbar-input:focus,
.searchbar-input:focus-within,
.searchbar-input:hover {
  border-width: 0 !important;
  box-shadow: none !important;
  outline: none !important;
}

.searchbar-toggle-button:hover {
  outline: 0 !important;
  box-shadow: none !important;
  border: none !important;
  background: transparent !important;
  z-index: 9999999999 !important;
}

.searchbar-toggle-button:focus,
.searchbar-toggle-button:focus-visible,
.searchbar-toggle-button:active {
  outline: 0 !important;
  box-shadow: none !important;
  border: none !important;
  background: transparent !important;
}

.toggle-button {
  width: 0px;
  z-index: 9999999;
  color: var(--color-text) !important;
  outline: 0 !important;
  box-shadow: none !important;
  border: none !important;
  background: transparent !important;
}

.searchbar-toggle-button:hover {
  outline: 0 !important;
  box-shadow: none !important;
  border: none !important;
  background: transparent !important;
}

.searchbar-toggle-button:focus,
.searchbar-toggle-button:focus-visible,
.searchbar-toggle-button:active {
  outline: 0 !important;
  box-shadow: none !important;
  border: none !important;
  background: transparent !important;
}
